/* followers section */
.followers__section {
  margin-top: 70px;
}
.followers__section > h1 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 8px;
  margin-bottom: 50px;
}
