/* user activity */
.user__activity > p {
  text-align: right;
  font-size: 0.95rem;
  margin-top: 40px;
}
.user__activity > p > span {
  font-weight: bold;
}

/* activity */
.activity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.activity > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 0 20px rgba(16, 137, 255, 0.13);
  font-size: 1.2rem;
  font-weight: normal;
  width: 23%;
}
.activity > h1 > span {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 20px;
  color: #1089ff;
}

/* popular repo */
.popular__repo {
  margin-top: 100px;
}
.popular__repo > h1 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 8px;
  margin-bottom: 50px;
}
.popular__repo > .repo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

/* contribution chart */
.contribution__chart {
  margin-top: 100px;
}
.contribution__chart > h1 {
  font-size: 1rem;
  letter-spacing: 2px;
  word-spacing: 8px;
  margin-bottom: 50px;
  text-align: center;
}
.contribution__chart > .chart {
  width: 100%;
  text-align: center;
}

/* recent event */
.recent__event {
  margin-top: 100px;
}
.recent__event > h1 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  word-spacing: 4px;
  border-left: 3px solid #1089ff;
  padding-left: 10px;
  margin-bottom: 50px;
}
