/*repositories__section */
.repositories__section {
  margin-top: 70px;
}
.repositories__section > h1 {
  font-size: 1rem;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-align: center;
}
.repositories__section > p {
  display: flex;
  justify-content: center;
  margin: 30px 0 50px;
}
.repositories__section > p > span {
  margin-right: 10px;
  color: #177df1;
  font-size: 1.1rem;
  font-weight: bold;
}
