/* side navbar */
.side__navbar {
  flex: 0.2;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #151a21;
  padding: 30px 0;
}

/* side navbar logo */
.side__navbar > .side__navbar__logo {
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.side__navbar > .side__navbar__logo > .MuiSvgIcon-root {
  font-size: 5rem;
  margin-bottom: 10px;
}

/* side navbar navlist */
.side__navbar > .side__navbar__navlist {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side__navbar > .side__navbar__navlist > li {
  list-style: none;
}
.side__navbar > .side__navbar__navlist > li > .side__navbar__navlink {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 35px 0;
  transition: 0.3s;
}
.side__navbar > .side__navbar__navlist > li > .side__navbar__navlink:hover {
  color: #1089ff;
}
.side__navbar
  > .side__navbar__navlist
  > li
  > .side__navbar__navlink
  > .MuiSvgIcon-root {
  margin-right: 15px;
}
