@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* main section */
.main__section {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* right section */
.right__section {
  flex: 0.8;
  display: flex;
}

/* right section details */
.right__section__details {
  flex: 0.75;
  padding: 30px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.right__section__details::-webkit-scrollbar {
  display: none;
}
